.block {
  padding: 30px;
  font-size: 50px;
  line-height: 60px;
  >p {
    color: green;
  }
  span {
    color: green;
  }
  .block__text {
    p {
      color: red;
    }
    font-size: 80px;
  }
}

.link {
  color: blue;
  &:hover {
    color: red;
  }
}